workflow_clinics.json
{
  "name": "API - List Clinics",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "clinics",
        "responseMode": "lastNode"
      },
      "id": "Webhook",
      "name": "Webhook (GET /clinics)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.0,
      "position": [
        220,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id, name from clinics order by name;"
      },
      "id": "Query",
      "name": "Postgres - Clinics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1.0,
      "position": [
        520,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "LOCAL_PG",
          "name": "Local Postgres"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "Content-Type": "application/json"
          }
        }
      },
      "id": "Respond",
      "name": "Respond (JSON)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.0,
      "position": [
        760,
        200
      ]
    }
  ],
  "connections": {
    "Webhook (GET /clinics)": {
      "main": [
        [
          {
            "node": "Postgres - Clinics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Clinics": {
      "main": [
        [
          {
            "node": "Respond (JSON)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}